@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar for the modal */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent; /* Make the track transparent */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Dark grey thumb for contrast */
  border-radius: 10px; /* Rounded corners */
  border: 2px solid transparent; /* Adds some space around thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker on hover */
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}



.footer-link {
  position: relative;
  display: inline-block;
  padding: 0.5rem 1rem;
  font-weight: 500;
  transition: all 0.3s ease;
}

.footer-link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #3b82f6;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

.footer-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.footer-link:hover {
  color: #3b82f6;
}